OPENAI_ENDPOINT=
OPENAI_API_KEY=
OPENAI_VERSION=
OPENAI_MODEL_DEPLOYMENT_NAME=
OPENAI_PROMPT=
ENTRA_GRAPH_APPLICATION_CLIENT_ID=
ENTRA_GRAPH_APPLICATION_CLIENT_SECRET=
ENTRA_GRAPH_APPLICATION_TENANT_ID=