fastapi[all]
uvicorn
typing

openai==1.78.1
httpx==0.27.2

langchain==0.3.25
langgraph==0.4.3
langchain-openai==0.3.16


ipython
langchain_community

asyncio
azure-identity==1.23.0
msgraph-sdk
msal
requests




